/*
The IDs of #content, #top, and #side are defined to allow you to set the default values of the content, top menu, and side menu.
Side menu links are displayed via lists.
*/

#content
{
float: left;
width:80%;
padding-left:10px;
text-align:center;
}

#content table
{
margin:auto;
text-align:center;
}

#content a
{
margin-left: 10px;
}

#top{
text-align:center;
padding-bottom:20px;
}

#top #currentp
{
padding-left: 10px;
font-weight:bold;
}

#top a
{
padding-left: 5px;
color:black;
}

#side
{
width:20%;
}

#side #currentp
{
font-weight:bold;
}

#side ul
{
float: left;
list-style-type: circle;
text-align: left;
}

#side ul li a
{
color:black;
text-align: left;
}

/*
Dynamic CSS is in order for each page. If you would like to add an ID to specifically modify something on a page you add the ID with the format of #c-(pagename).

Example: I want to modify the color of the links in dilbank.php. I would add #c-dilbank a{color:white;}

Also, specific IDs for specific elements are defined for some pages. View the page.php. It will say at the very top of the page in the comments if any specific
IDs are defined.
*/
